<!--<app-header (featureSelected)="onNavigate($event)"></app-header>-->
<br />
<div class="container">
  <!--<div class="row">
    <div class="col-md-12">
      <!--<app-products *ngIf="loadedFeature === 'product'"></app-products>
      <app-shopping-list *ngIf="loadedFeature !== 'product'"></app-shopping-list>
    
    <nav>
    	<a routerLink="/products">Productos</a>
    	<!--<a routerLink="/products/product-detail">Lista de Productos</a>
    	<a routerLink="/product-list">Lista de Productos</a>
    	<a routerLink="/shopping-list">Carrito Compras</a>
    </nav>

   
    </div>
  </div>
-->
 <router-outlet></router-outlet>
</div>
